body {
    margin: 0;
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}
.base-padding {
    padding: 3vh 10vw;
}
.content {
    color: #111;
}
.header {
    background-color: #111;
    margin: 0;
    color: #eee;
}

h1, h2, h3 {
    font-family: 'Inter', sans-serif;
    margin: 0;
}
h1 {
    font-weight: 600;
}
h2 {
    font-weight: 400;
    text-align: right;
}
h3 {
    font-weight: 400;
}

b {
    font-weight: 500;
}

.width {
    width: 80%;
}
.line {
    height: 1px;
    background-color: #eee;
    margin: 20px auto;
}

ul {
    list-style-type: none;
}
ul li {
    margin: 5px 0;
}
a {
    text-decoration: none;
}
header {
    font-size: 1.3rem;
}

.article {
    text-align: justify;
    margin: 1.5rem 0;
    text-indent: 1.5rem;
}
.article p {
    margin: .3rem;
    text-indent: 0;
}

footer {
    background-color: #111;
    color: #eee;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    padding:  0 30vw 25px;
    text-align: center;
}
.contacts-container {
    margin: 5vh auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.contacts-item {
    width: 49%;
    margin: 0 auto;
}
.avatar {
    height: 200px;
    width: 200px;
    margin: 0 0 0 auto;
    border-radius: 50%;
    background: center url("./img/avatar.webp");
    background-size: cover;
    border: 1px solid #111;
}

.linkIcon {
    height: 30px;
    width: 50px;
    margin: 0 10px;
}
.link-container {
    margin: 0 auto 15px;
    background-color: #eee;
    padding: 15px;
    border-radius: 0 0  30px 30px;
    width: 50%;
}
.footerLink {
    display: inline-block;
    transition: transform .2s linear;
}
.footerLink:hover {
    transform: scale(1.1);
}
.contact {
    color: #111;
    margin-bottom: 1rem;
}
@media screen and (max-width: 900px) {
    .base-padding {
        padding: 2vh 3vw;
    }
    .width {
        width: 90%;
    }
    .link-container {
        width: 80%;
    }
}
@media screen and (max-width: 600px) {
    .base-padding {
        padding: 1vh 2vw;
    }
    .width {
        width: 95%;
    }
    .link-container {
        width: auto;
    }
    .contacts-container {
        flex-direction: column;
    }
    .contacts-item {
        width: auto;
    }
    .avatar {
        margin: 0 auto;
    }
    header {
        font-size: 1rem;
    }
    footer {
        padding: 0 10vw 10px;;
    }
    body {
        font-size: 0.8rem;
    }
}